*{
	padding: 0;
	margin-top: 0;
	font-family: sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
.medsos{
	padding: 5px 0;
	background-color: #0000FF;
}
.medsos	ul li {
	display: inline-block;
	color: white;
	margin-right: 10px;
}
.container{
	width: 80%;
	margin: 0 auto;
	border-width: 2px;
}
.container:after{
	content: " ";
	display: block;
	clear: both;
}
header{
	background-color: #F8F8FF ;
}


header h1{
	float: left;
	padding: 15px 0px;
	color: #000000;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color: #0000FF;
	color: #fff;
}
.active{
	background-color: #0000FF;
	color: #fff;
}

.elemen {
	width: 800px;
	background-color: white;
	margin: auto;
	line-height:30px;
	text-align: justify;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: 800px;
    border-bottom: 5px solid lightskyblue;
	border-top: 5px solid salmon;
}


P {
	font-family: bold;
	font-size: 35px;

}

p.left {
	font-family: sans-serif;
	font-size: 19px;
	text-align-last: left;
	text-indent: 50px;
	padding: 30px;
}

footer{
	padding: 30px 0;
	background-color: #0000FF;
	color: #FFFF00;
	text-align: center;
}